*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

/* ******************************* CUSTOM PROPERTIES */
:root {
    /* color */
    --color-blackish: #08060bbb;
    --color-white: #FFFFFF;
    --color-ww: #EDEDED;

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --nav-fontfamily: 'Open Sans', sans-serif;
}





/* ******************************* BODY */
body { /* Hele pagina opmaak */
    background-color: var(--color-white);
}





/* ******************************* NAVIGATIEBALK */

nav { /* hele nav plaatsing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 7em;

    /* nav sticky */
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: var(--color-white);
    transition: .32s;
    z-index: 2;
}
    .fixed {
        position: fixed;
        transition: .25s;
    }

h1 { /* logo opmaak*/
    font-family: var(--h1-fontfamily);
    font-weight: 400;
    font-size: 1.2em;
}

nav ul { /* ruimte tussen de elementen*/
    display: flex;
    gap: 2.2em;
}

nav ul li { /* stijling van "home, over ons etc" */
    font-family: var(--nav-fontfamily);
    list-style: none;
}

nav ul li a { /* link stijling */
    text-decoration: none;
    color: var(--color-blackish);
    padding: .6em;
}

  

/* ---------------------- UNDERLINE EFFECT:HOVER */

nav ul li a,
nav ul li a:after { /* hover transition */
    transition: all .5s;
}

nav ul li a:hover { /* hover kleur op tekst */
    color: rgb(148, 143, 143);
}

nav ul li a { /* stroke plaatsing */
    position: relative;
}

nav ul li a:after { /* stroke stijling */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;

    content: '.';
    color: transparent;
    background: #aaa;
    height: .1em;
}

nav ul li a:hover:after{ /* stoke length */
    width: 100%;
}





/* ******************************* OPMAAK HOME IMAGE*/

.container-intro { /* stijling van container image */
    position: relative;
    height: 30vmax;
    overflow: hidden;
}

.container-intro img { /* image stijling */
    position: absolute;
    height: 50vmax;
    top: -1em;
}

    .introduction { /* stijling tekst op image*/
        padding: 2em 7em;
    }

    .introduction h2 { /* h2 tekst opmaak */
        font-family: var(--h1-fontfamily);
        font-weight: 4;
        font-size: 12.5vmin;
        line-height: 1em;

        padding-top: .6em;
        color: var(--color-blackish);
        
        position: relative;
        z-index: 1;
    }

    .introduction h3 { /* h3 tekst opmaak */
        font-family: var(--h1-fontfamily);
        font-weight: 400;
        line-height: 4em;

        position: relative;
        z-index: 1;
    }



/* ---------------------- SHAPE OPMAAK */

.background-shape {
    position: relative;
}

.background-shape::after {
    content: '';
    position: absolute;
    bottom: -250em;
    height: 260em;
    transform: skew(0deg, 75deg);
   
    background: rgba(203, 196, 196, 0.767);
    
    width: 100%;
    transition: .5s ease;
}





/* ******************************* OPMAAK KWALITEITEN*/

.container-kwaliteiten { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 3.5em 4em 3.3em;
    gap: 4em;
}
.container-kwaliteiten section img {
    width: 4em;
}
.container-kwaliteiten section h3 {
    font-family: var(--h1-fontfamily);
}
.container-kwaliteiten section h4 {
    font-family: var(--h1-fontfamily);
    font-weight: 350;
    padding: 1em;
}



/* ******************************* OPMAAK "OVER ONS"*/
.container-info {
    background-color: var(--color-ww);

}

#over-ons {
    padding: 5em;
    margin: 2em 10em
}

#over-ons h2 {
    font-size: 2em;
    font-family: var(--h1-fontfamily);
}

p {
    font-family: var(--h1-fontfamily);
    font-weight: 400;
    font-size: 1.4em;
    padding-top: 1em;

    columns: 2;
    text-align: justify;
}

.parallax {
    background-image: url(../images/home.jpg);
    min-height: 30em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* ******************************* OPMAAK "PRODUCTEN"*/

#product {
    padding: 5em;
}

#product h2 {
    font-size: 2em;
    padding-bottom: 1em;
    font-family: var(--h1-fontfamily);
}

#product article {
    display: flex;
    padding-bottom: 5em;
    gap: 2em;

}

#product article img {
    width: 60%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    #product article {
        display: grid;
    }

    #product article img {
        width: 100%;
    }
}


/* ******************************* OPMAAK "PRODUCTEN INFO"*/

.product-info {
    padding: 5em;
}

.product-info h2 {
    font-size: 2em;
    padding-top: 2em;
    font-family: var(--h1-fontfamily);
}

.product-info article {
    display: flex;
    padding-bottom: 1em;
    gap: 2em;
}

.product-info article img {
    width: 40em;
}


@media only screen and (max-width: 1000px) {
    .product-info article {
        display: grid;
    }

    .product-info article img {
        width: 100%;
    }
}




/* ******************************* OPMAAK "CONTACT FORM"*/

/* #contact{
    padding: 5em;
    background-color: var(--color-ww);
}

#contact p{
    padding-bottom: 2em;
}

    #contact h2{
        font-size: 2em;
        font-family: var(--h1-fontfamily);
    } */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
/* input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */

/* When moving the mouse over the submit button, add a darker green color */
/* input[type=submit]:hover {
    background-color: #45a049;
  }



  .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
} */

/* Credit to https://bootsnipp.com/snippets/M56El  */




 /* ---------------------- @MEDIA */

 @media only screen and (max-width: 600px) {
   
    nav { /* hele nav plaatsing */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 { /* logo bedrijf */
        font-size: 1.5em;
        padding: .5em;
    }
    nav ul { /* ruimte tussen de elementen*/
        gap: 1em;
    }
    nav ul li { /* stijling van "home, over ons etc" */
        font-size: .8em;
    }
    .introduction h2 { /* h2 tekst opmaak */
        font-size: 6vmin;
        padding-top: .6em ;
    }
    .introduction h3 { /* h3 tekst opmaak */
        font-size: 2.2vmin;
        padding-top: 1em ;
        padding-right: 12.8em;

        line-height: 1em;
    }
    .container-kwaliteiten { /* opmaak kwaliteiten */
        gap: 2em;
    }
        .container-kwaliteiten section h3 {
            font-size: 2.4vmin;
        }
        
        .container-kwaliteiten section h4 {
            font-size: 1.8vmin;
        }
    
    .container-kwaliteiten section img { /* img opmaak "icons" */
        width: 3em;
    }    
 }