*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
}


/* ************************************************** */
/* ******************************* CUSTOM PROPERTIES */
/* ************************************************** */

:root {
    /* color */
    --color-black: #08060bbb;
    --color-gray: #EDEDED;
    --color-grayish: #aaa;
    --color-white: #ffffff;

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --h2-fontfamily: 'Open Sans', sans-serif;
}




/* ************************************************** */
/* ************************************ HEADER OPMAAK */
/* ************************************************** */

/* opmaak extra header */
.header-top {
    display: flex;
    justify-content: space-between;
    padding: 1em 5em 1em;
    background-color: var(--color-gray);
}

/* ruimte tussen tel en email in de extra header */
.header-top ul {
    display: flex;
    gap: 2em;
    padding: 0;
}

/* li styling en plaatsing */
.header-top ul li {
    display: flex;
    align-items: center;
    gap: .5em;
    font-family: var(--h2-fontfamily);
}

/* a styling opmaak */
.header-top li a {
    text-decoration: none;
    color: var(--color-black);
}

.header-top ul img {
    width: 1.5em;
}


/* ************************************************** */
/* ***************************** NAVIGATIEBALK OPMAAK */
/* ************************************************** */

/* header sticky */
header{
    position: sticky;
    top: 0;
    height: 100px;
    background-color: var(--color-white);
    transition: .32s;
    z-index: 2;
    width: 100%;
}

/* hele nav plaatsing */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 5em;
    height: 100px;
}

/* logo opmaak*/
h1 {
    font-family: var(--h1-fontfamily);
    font-weight: 400;
    font-size: 1.2em;
}

/* opmaak navigatie*/
nav ul {
    display: flex;
}

/* stijling van "home, over ons etc" */
nav ul li {
    font-family: var(--h2-fontfamily);
    list-style: none;
}

/* link stijling */
nav ul li a {
    text-decoration: none;
    color: var(--color-black);
    padding: .6em;
}


header svg{
    display: none;
}

/* hamburgermenu opmaak */
@media screen and (max-width: 1000px) {
    header svg{
        display: block;
        position: absolute;
        right: 4em;
        z-index: 1;
    }
    nav {
        position: relative;
    }

    nav ul {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 0em;
        height: 35vmax;
        padding-top: 5em;
        background: rgb(255, 157, 0);
    }  

    nav li {  
    padding: 4vmax 4vmax 0vmax;
    font-size: 2vmax;
    }
}
    
    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 3.5em;
      }

      .hamRotate.active {
        transform: rotate(45deg);
      }
      .hamRotate180.active {
        transform: rotate(180deg);
      }
      .line{
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#000;
        stroke-width: 2;
        stroke-linecap:round;
      }
      .ham1 .top {
        stroke-dasharray: 40 139;
      }
      .ham1 .bottom {
        stroke-dasharray: 40 180;
      }
      .ham1.active .top {
        stroke-dashoffset: -98px;
      }
      .ham1.active .bottom {
        stroke-dashoffset: -138px;
      }




/* ---------------------- UNDERLINE EFFECT:HOVER */

/* hover transition */
nav ul li a,
nav ul li a:after {
    transition: all .5s;
}

/* hover kleur op tekst */
nav ul li a:hover {
    color: rgb(148, 143, 143);
}

/* stroke plaatsing */
nav ul li a {
    position: relative;
}

/* stroke stijling */
nav ul li a:after { 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;

    content: '.';
    color: transparent;
    background: #aaa;
    height: .1em;
}

/* stoke length */
nav ul li a:hover:after{ 
    width: 100%;
}



/* ************************************************** */
/* ******************************** OPMAAK HOME IMAGE */
/* ************************************************** */

/* stijling van container image */
.container-intro { 
    position: relative;
    height: 30vmax;
    overflow: hidden;
}

/* image stijling */
.container-intro img { 
    position: absolute;
    height: 50vmax;
    top: -1em;
}

/* stijling tekst op image*/
.introduction { 
    /* padding: 2em 7em; */
    padding: 4em 5em 1em;
}

/* h2 tekst opmaak */
.introduction h2 {
    font-family: var(--h1-fontfamily);
    font-weight: 4;
    font-size: 12.5vmin;
    line-height: 1em;

    padding-top: .6em;
    color: var(--color-blackish);
        
    position: relative;
    z-index: 1;

    animation: 2.7s ease-out 0s 1 slideInFromLeft-2;
}

    @keyframes slideInFromLeft-2{
        0% {
          transform: translateX(-100%);
          z-index: 1;
        }
        100% {
          transform: translateX(0);
          z-index: 1;
        }
      }

    /* h3 tekst opmaak */
    .introduction h3 {
        font-family: var(--h1-fontfamily);
        font-weight: 400;
        line-height: 4em;

        position: relative;
        z-index: 1;

        animation: 2.9s ease-out 0s 1 slideInFromLeft-2;
    }

    @media screen and (max-width: 1000px) {
        /* in a tekst stijling */
        .header-top ul li a {
            font-size: .7em;
        }
        /* in a tekst stijling */
        .header-top ul li a { 
            font-size: .7em;
        }
        nav ul {
            font-size: .8em;
        }
        .introduction { 
            padding: 1.5em 5em 0em;
        }
        .introduction h2 {
            font-size: 7vmin;
        }
        .introduction h3 {
            font-size: 1.4vmin;
        }
    }

/* ---------------------- SHAPE OPMAAK */

.background-shape {
    position: relative;
}
.background-shape::after {
    content: '';
    position: absolute;
    bottom: -250em;
    height: 260em;
    transform: skew(0deg, 75deg);
    background: rgba(203, 196, 196, 0.767);
    
    animation: 1.5s ease-out 0s slideInFromLeft;
    width: 100%;
}

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: skew(0deg, 75deg);
    }
  }




/* ************************************************** */
/* ************************************ OPMAAK SKILLS */
/* ************************************************** */

/* colums plaatsing */
.wrapper .columns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 1em 2em 1em;
}

/* afmetingen van alle div's */
.container-skills div div div div {
    padding: 6em 6em 1em;
    padding-right: 3em;
}

/* container wrapper afmeting */
.container-skills .wrapper {
	padding-bottom: 6.25em;
}

.columns{
    position: absolute;
    top: 6em;
}
.columns img{
    width: 4.9em;
}

.svg-container svg{
    position: relative;
    bottom: 3.5px;
    z-index: -1;
    right: 4em;
    width: 3em;
    visibility: hidden;
}

.svg-container svg :hover{
    visibility: visible;
}

.container-skills .container {
	padding: 5em 0em 5em;
}


/* h3 afmetingen */
.container-skills div div div div h3 {
	padding: 0;
	margin: 0;
}

/* h3 opmaak */
.content .container-skills h3 {
	color: rgb(179, 116, 116);
    font-size: 1em;
    font-family: var(--h1-fontfamily);
}
    /* h4 opmaak */
    .content .container-skills p {
        font-weight: 350;
        font-family: var(--h1-fontfamily);
    }


.container-skills{
    position: relative;
}


/* .svg-container{
    display: flex;
    align-items: center;
}

.svg-container svg{
    position: absolute;
    top: 58px;
    z-index: -1;
    left: 61px;

    width: 4em;
}
 */



    @media only screen and (max-width: 999px) {
        /* skills komen onder elkaar */
        .wrapper .columns {
            display: block;
        }
        .container-skills:before{
            width: 15%;
            top: 14em;
            margin-left: 44%;
            transform: none;
        }
       
    }
  

/* ******************************* OPMAAK "OVER ONS"*/
.container-info {
    padding: 5em 0;
    background-color: var(--color-gray);
}

.column{
    margin: 0;
    padding: 0;
}

 /* lijn links */
 .container-info .wrapper::before {
    content: "";
    position: absolute;
    width: 18%;
    bottom: -20em;
    margin-left: -4%;
    border-bottom: 2px solid #748094;
    transform: rotate(-0.25turn);
    }


.over-ons {
  
    margin: 2em 10em
}

.over-ons h2 {
    font-size: 2em;
    font-family: var(--h1-fontfamily);
}

.over-ons p {
    font-family: var(--h1-fontfamily);
    font-weight: 400;
    font-size: 1.3em;
    padding-top: 1em;

    columns: 2;
    column-gap: 2.5em;
    text-align: justify;
} 

.parallax {
    background-image: url(../images/home.jpg);
    min-height: 30em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* ******************************* OPMAAK "PRODUCTEN"*/

#product {
    padding: 5em;
}

#product h2 {
    font-size: 2em;
    padding-bottom: 1em;
    font-family: var(--h1-fontfamily);
}

#product article {
    display: flex;
    align-items: center;
    padding-bottom: 5em;
    gap: 2em;
}

#product article p{
    font-size: 1.11em;
}

#product article img {
    width: 40%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    #product article {
        display: grid;
    }

    #product article img {
        width: 100%;
    }
}


/* ******************************* OPMAAK "PRODUCTEN INFO"*/

.product-info {
    padding: 5em;
}

.product-info h2 {
    font-size: 2em;
    padding-top: 2em;
    font-family: var(--h1-fontfamily);
}

.product-info article {
    display: flex;
    padding-bottom: 1em;
    gap: 2em;
}

.product-info article img {
    width: 40em;
}


@media only screen and (max-width: 1000px) {
    .product-info article {
        display: grid;
    }

    .product-info article img {
        width: 100%;
    }
}




/* ******************************* OPMAAK "CONTACT FORM"*/

#contact{
    padding: 5em;
    background-color: var(--color-ww);
}

#contact p{
    padding-bottom: 2em;
}

    #contact h2{
        font-size: 2em;
        font-family: var(--h1-fontfamily);
    }

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
/* input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */

/* When moving the mouse over the submit button, add a darker green color */
/* input[type=submit]:hover {
    background-color: #45a049;
  }



  .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
} */

/* Credit to https://bootsnipp.com/snippets/M56El  */




 /* ---------------------- @MEDIA */

 