*,
*::after,
*::before {
    /* box-sizing: inherit; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ************************************************** */
/* ******************************* CUSTOM PROPERTIES */
/* ************************************************** */
:root {
    /* color */
    --color-black: #08060bbb;
    --color-creme: #F0E7E2;
    --color-grayish: #aaa;
    --color-white: #ffffff;
    --color-lightPink: #b37474;
    --color-basic: rgb(56, 40, 40);

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --h2-fontfamily: 'Open Sans', sans-serif;
}





/* ************************************************** */
/* ************************** OPMAAK VAN EXTRA HEADER */
/* ************************************************** */

/* container hele extra header*/
.extra-header {
    position: relative;
    z-index: 3; /* container staat voor */
    width: 100%;
    background-color: #EBDAD7;
}

/* container in extra header*/
.container-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 80%;
    margin: auto;

    z-index: 3;
}

/* ruimte tussen tel en email in de extra header */
.container-extra ul {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0;
}

/* li styling en plaatsing van social icon */
.container-extra ul li {
    display: flex;
    align-items: center;
    font-family: var(--h2-fontfamily);
}

/* a styling opmaak */
.container-extra li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    font-size: .9vw;
    text-decoration: none;
    color: var(--color-black);
}

/* grote van img */
.container-extra ul li a svg {
    width: 2rem;
    color: #6d4848;
}

/* grote tekst phone/mail */
.container-extra ul li a span {
    font-size: 1rem;
    color: #6d4848;
}





/* ************************************************** */
/* ************************************ HEADER OPMAAK */
/* ************************************************** */

/* header sticky */
header {
    display: flex;

    position: sticky;
    top: 0em;
    height: 4rem;
    background-color: var(--color-white);

    transition: .32s;
    z-index: 2;
}

/* nav container opmaak */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 78%;
    margin: auto;
    height: 100%;
}

/* logo opmaak*/
h1 {
    font-size: 1.3rem;
    font-family: var(--h1-fontfamily);
    font-weight: 400;
    color: var(--color-basic);
}

/* opmaak navigatie "home, over ons etc" */
nav ul {
    display: flex;
}

/* stijling van "home, over ons etc" */
nav ul li {
    font-family: var(--h2-fontfamily);
    list-style: none;

    padding-left: 1.2em;
    font-size: 1.1rem;
}

/* link stijling */
nav ul li a {
    text-decoration: none;
    color: var(--color-black);
}



/* ************************************* HAM BUTTON NIET ZICHTBAAR */

/* display hamburger menu niet zichtbaar */
button {
    display: none;

    position: relative;
    left: 2em;

    z-index: 2;
    border: none;
    background-color: transparent;
}



/* ************************************* UNDERLINE EFFECT:HOVER */

/* hover transition */
nav ul li a,
nav ul li a:after {
    transition: all .5s;
}

/* hover kleur op tekst */
nav ul li a:hover {
    color: var(--color-lightPink);
}

/* stoke length */
nav ul li a:hover:after {
    width: 100%;
}

/* stroke plaatsing */
nav ul li a {
    position: relative;
}

/* stroke stijling */
nav ul li a:after {
    position: absolute;
    top: 1.5em;    /* ruimte tussen stroke en tekst */
    bottom: 0;
    left: 0;
    right: 0;
   
    margin: auto;
    width: 0%;

    content: '.';
    height: .1em;
    color: transparent;
    background: var(--color-lightPink);
}





/* ************************************************** */
/* ******************************** OPMAAK HOME IMAGE */
/* ************************************************** */

/* stijling container "introductie */
.container-introductie {
    position: relative;
    height: 29vw;
    overflow: hidden;
}

/* img stijling */
.container-introductie img {
    height: 50vw;
}



/* ************************************* SHAPE OPMAAK */

/* container shape opmaak */
.introductie-wrapper {
    position: absolute;
    top: 0;
    width: 100%; /* grote van de container */
}

/* shape opmaak */
.introductie-wrapper svg {
    height: 29.99vw;
    width: 60%;
    opacity: 70%;
    transform: skew(0deg, 0deg);

    animation: 1.5s ease-out 0s slideInFromLeft;
}

/* slide in voor shape */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}



/* ************************************* HOOFD-TEKST OPMAAK */
/* container opmaak tekst*/
.introductie {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: 100%;
}

.introductie-tekst {
    display: grid;
    justify-content: left;
    width: 78.88%;
    margin: auto;
}

/* h2 tekst opmaak */
.introductie-tekst h2 {
    font-size: 6vw;
    font-weight: 320;
    line-height: 1em;
    color: var(--color-basic);
    font-family: var(--h1-fontfamily);

    animation: 2.7s ease-out 0s 1 slideInFromLeft-2;
}

/* h3 tekst opmaak */
.introductie-tekst h3 {
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 4em;
    color: var(--color-lightPink);
    font-family: var(--h1-fontfamily);

    animation: 2.9s ease-out 0s 1 slideInFromLeft-2;
}

/* slide in voor tekst */
@keyframes slideInFromLeft-2 {
    0% {
        transform: translateX(-100%);
        z-index: 1;
    }

    100% {
        transform: translateX(0);
        z-index: 1;
    }
}





/* ************************************************** */
/* ************************************ OPMAAK SKILLS */
/* ************************************************** */

.container-skills {
    position: relative;
}

/* 2e svg opmaak */
.container-skills svg:nth-of-type(2) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

/* container opmaak */
.container-skills .skills-wrapper {
    display: grid;
    justify-content: center;

    width: 66.5%;
    margin: auto;

    padding: 2em 0 12em;
}

/* opmaak in skill box */
.skills {
    display: flex;
    text-align: center;
    gap: 5em;
}

/* opmaak tekst */
.skills-wrapper h2 {
    font-family: var(--h1-fontfamily);
    font-size: 2rem;

    color: var(--color-lightPink);
    padding-bottom: 1.3em;
}


/* box opmaak van skills */
.container-skills .inhoud {
    padding: 2.5em;
    border-radius: .5em;
    box-shadow: -10px 20px 20px 10px rgba(100, 55, 55, 0.271);
}

/* grote van icon */
.inhoud img {
    width: 5em;
}

/* h3 opmaak */
.content-container .container-skills h3 {
    font-size: 1.3em;
    color: var(--color-lightPink);
    font-family: var(--h1-fontfamily);
}

/* p opmaak */
.content-container .container-skills p {
    font-weight: 350;
    font-size: 1rem;
    line-height: 1.6em;
    padding: .5em;
    font-family: var(--h1-fontfamily);
}





/* ************************************************** */
/* ******************************* OPMAAK "OVER ONS"" */
/* ************************************************** */

/* opmaak container */
.container-over {
    background: linear-gradient(#fbedec, #eadad7);
}

/* plaatsing van inhoud */
.over-ons {
    display: flex;
    gap: 3em;

    font-size: .9em;
    width: 66.5%;
    margin: auto;
    padding: 7em 0 5em;
}

/* opmaak h2 */
.container-over .over-ons h2 {
    font-size: 2rem;
    font-family: var(--h1-fontfamily);
    color: var(--color-basic);
}

/* opmaak h5 */
.container-over .over-ons h5 {
    font-size: 1.5rem;
    padding-top: .5em;
    color: var(--color-lightPink);
    font-family: var(--h1-fontfamily);
}

/* opmaak p */
.over-ons p {
    font-size: 1rem;
    width: 95%;
    font-family: var(--h1-fontfamily);
    text-align: justify;
    line-height: 1.9em;
}

/* image opmaak */
.over-ons  img {
    width: 50%;
    object-fit: cover;
}





/* ************************************************** */
/* ******************************* OPMAAK " DIENSTEN" */
/* ************************************************** */

/* container diensten */
.container-diensten {
    background: linear-gradient(#eadad7, #eadad7);
}

/* box waar de diensten in zit */
.diensten-box {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.dienst-wrapper {
    width: 66.5%;
    margin: auto;

    padding: 0 0 10em;
}

/* stijling h5 */
.container-diensten .diensten h5 {
    font-size: 2rem;
    padding-bottom: 1em;
    font-family: var(--h1-fontfamily);
    color: var(--color-lightPink);
}

/* box opmaak en ruimte */
.container-diensten .diensten-container {
    border-radius: .5em;

    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../images/spa2.jpg);
    box-shadow: -10px 20px 20px 10px rgba(100, 55, 55, 0.271);
}

/* h3 opmaak */
.container-diensten .diensten-container h3 {
    font-size: 1.4rem;
    padding: 3em 1.5em 0;
    color: var(--color-white);
    font-family: var(--h1-fontfamily);

    transition: .4s ease-in-out;
}

/* stijling p */
.container-diensten .diensten-container p {
    font-family: var(--h1-fontfamily);
    padding: 0.7em 1.7em 3em;
    color: var(--color-white);
    font-size: 1.3rem;
    line-height: 1.6em;
}

/* animatie */
.container-diensten .diensten-container:hover h3 {
    transition: .4s ease-in-out;
    color: #dfbeb3;
}





/* ************************************************** */
/* ********************************** OPMAAK "SCROLL" */
/* ************************************************** */

.parallax {
    background-image: url(../images/spa2.jpg);
    min-height: 30em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* ************************************************** */
/* ******************************* OPMAAK "SIDE TEXT" */
/* ************************************************** */

.side-wrapper svg:nth-of-type(2) {
    position: relative;
    top: 1em;
}

/* padding in container*/
.side-wrapper .wrapper {
    display: flex;
    justify-content: center;

    width: 66.5%;
    margin: auto;
}

.sideText {
    display: block;
    columns: 2;
    column-gap: 3.5em;
    column-rule-style: solid;
    column-rule-width: 4px;
    column-rule-color: rgb(185, 127, 136);
}

/* h5 opmaak */
.container-sideText .sideText h5 {
    padding-bottom: .4em;
    font-size: 2rem;
    color: var(--color-lightPink);
    font-family: var(--h1-fontfamily);
}

/* p opmaak */
.sideText p {
    font-family: var(--h1-fontfamily);
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6em;
}





/* ************************************************** */
/* ******************************* OPMAAK " CAROUSEL" */
/* ************************************************** */

/* comtainer opmaak */
.carousel-container {
    padding: 0 20%;
    width: 100%;

    position: relative;
    top: 0em;
    background-color: #EBDAD7;
}

/* opmaak card */
.carousel .card {
    background: var(--color-lightPink);
    border-radius: .3em;
    padding: .2em;
    animation-delay: 2s;
}

/* img grote */
.carousel .card img {
    border-radius: .5em;
}

/* button kleur hover */
.owl-dot.active,
.owl-dot:hover {
    background: var(--color-lightPink) !important;
}






/* ************************************************** */
/* ******************************* OPMAAK " CONTACT " */
/* ************************************************** */

.container-max {
    display: flex;
    justify-content: center;

    width: 66.5%;
    margin: auto;

    padding: 0 0 10em;
}

/* svg opmaak boven "neem contact" */
.contact-container .svg-wrapper svg {
    position: relative;
    top: -1em;
}

.contact-us {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    position: relative;
    top: -5em;
}

/* h2 opmaak */
.contact-us h2 {
    font-size: 2rem;
    font-family: var(--h1-fontfamily);
    color: var(--color-lightPink);
    padding-bottom: .2em;
}

/* p opmaak */
.contact-us p {
    font-family: var(--h2-fontfamily);
    padding-bottom: 2em;
    line-height: 1.77em;
    font-size: 1rem;
}

/* opmaak tekst */
.contact-us .column1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* opmaak contact form */
.contact-us .column2 {
    display: flex;
    align-items: center;
    gap: 4em;
    padding: 2em;
    border-radius: .5em;
    box-shadow: -10px 20px 20px 10px rgb(100 55 55 / 27%);
}

/* opmaak grote form */
.contact-us .column2 form {
    width: 40%;
}




/* ************************************* GOOGLE MAP OPMAAK */

.contact-us input,
.contact-us textarea {
    background: #fcfcfc;
}

.contact-us input[type=text],
select,
textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #e2e0e0;
    border-radius: 0.2em;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-family: var(--h2-fontfamily);
}

/* Style the submit button with a specific background color etc */
.contact-us input[type=submit] {
    background-color: rgb(185, 127, 136);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.contact-us input[type=submit]:hover {
    background-color: #45a049;
}

/* google map */
#map {
    top: -2em;
    height: 27em;
    width: 60%;
    z-index: 1;
    border-radius: .4em;
}





/* ************************************************** */
/* ******************************** OPMAAK " FOOTER " */
/* ************************************************** */

/* plaatsing container */
.footer-container {
    background-color: #EBDAD7;
}

.footer-wrapper {
    width: 66.5%;
    margin: auto;
    padding: 5em 0 5em;
}

/* opmaak container */
.footer-container .row-footer {
    display: flex;
    justify-content: center;
    gap: 8em;
}

/* info bedrijf, tekst heeft max container */
.columns-footer p {
    width: 80%;
}

/* h3 opmaak */
.footer-container h3 {
    font-family: var(--h1-fontfamily);
    color: var(--color-basic);

    margin-bottom: .8em;
    font-weight: 520;
    font-size: 1em;
}

/* tekst stijling */
.footer-container p {
    font-weight: 200;
    font-family: var(--h2-fontfamily);
    line-height: 1.6em;
    font-size: 1rem;
}

/* nav in footer tekst stijling */
.footer-container ul {
    list-style: none;
    line-height: 1.6;
    font-size: 1em;
    margin-bottom: 1em;
}

/* navigatie in footer */
.footer-container ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    font-family: var(--h2-fontfamily);
}

.footer-container ul a:hover {
    opacity: 0.8;
}

.footer-container .copyright {
    display: grid;
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.footer-social a svg {
    width: 1.2em;
    color: rgba(0, 0, 0, 0.588);
}

.footer-social {
    width: 0%;
}



/* ************************************* MEDIA */

@media screen and (max-width:1350px) {

    /* skills gaan onder elkaar */
    .skills {
        display: grid;
        gap: 3em;
    }

    /* ruimte tussen skills container */
    .skills .inhoud {
        display: flex;
        align-items: center;
        gap: 1em;

        text-align: left;
    }

    /* wit ruimte */
    .over-ons {
        padding: 6em 0 6em;
    }

    .over-ons p {
        width: unset;
        /* font-size: .8em; */
    }

    .over-ons img {
        display: none;
    }

    /* grote van box diensten */
    .diensten-box {
        display: block;
    }

    .diensten-wrapper {
        margin-bottom: 3em;
    }

    /* google map */
    #map {
        display: none;
    }

    .contact-us {
        padding: 5em 0 0;
    }

    .contact-us p {
        text-align: justify;
        /* font-size: .8em; */
    }

    /* opmaak grote form */
    .contact-us .column2 form {
        width: 100%;
    }

    /* ___________________________________________footer */
    .footer-container .row-footer {
        gap: 2em;
    }

    /* opmaak container */
    .footer-container .row-footer {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .columns-footer p {
        width: 100%;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        gap: .5em;
        width: 100%;
    }
}





@media screen and (max-width:817px) {

    .container-introductie {
        height: 30vw;
    }

    .introductie-wrapper img {
        height: 30vw;
    }

    .introductie {
        top: 27%;
    }




/* ************************************* HAMBURGER MENU OPMAAK */

    /* hamburger icon opmaak */
    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 3.5em;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #000;
        stroke-width: 2;
        stroke-linecap: round;
    }

    .ham1 .top {
        stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }

    .ham1.active .top {
        stroke-dashoffset: -98px;
    }

    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }

    /* tekst onder h2 niet zichtbaar */
    .introductie-tekst h3 {
        opacity: 0;
    }

    .introductie-tekst h2 {
        font-size: 7vw;
    }

    /* ruimte tussen skills container */
    .skills .inhoud {
        display: block;
        text-align: center;
    }

    .sideText {
        columns: 1;
    }





    .container-introductie {
        height: 30vw;
    }

    .introductie-wrapper img {
        height: 30vw;
    }

    .introductie {
        top: 27%;
    }

    /* tekst hidden, alleen icon zichtbaar */
    .extra-header ul:nth-of-type(1) li a span {
        display: none;
    }

    /* streep tussen icon bij extra header */
    .extra-header ul:nth-of-type(1) li:nth-of-type(2) {
        position: relative;
        right: 1vw;
        border-left: 1px solid rgba(179, 116, 116, 0.328);

        height: 15px;
    }

    /* ruimte tussen streep en icon */
    .extra-header ul:nth-of-type(1) img {
        margin-left: .5em;
    }

    .extra-header ul {
        gap: .6em;
    }

    .skills-wrapper h2 {
        font-size: 5.5vw;
    }

    /* img icon position */
    .inhoud img {
        width: 4em;
    }

    .container-skills h3 {
        font-size: .98em;
    }

    .container-skills p {
        font-size: .8em;
    }

    /* background image scrolt niet op mobiel */
    .parallax {
        background-attachment: local, scroll;
    }

    /* plaatsing van logo bij hamburger menu */
    nav {
        flex-direction: row-reverse;
    }

    /* hamburger menu tekst plaatsing */
    nav ul li {
        padding-left: 0em;
    }

    /* icon zichtbaar "ham"*/
    button {
        display: unset;
    }

    /* hamburger opmaak */
    .menu {
        z-index: 1;
        opacity: 0;

        position: absolute;
        right: 0;
        top: 0;

        background:
            linear-gradient(to left,
                rgba(179, 116, 116, 0.328) 0%,
                rgba(179, 116, 116, 0.328) 12%,
                rgba(179, 116, 116, 0.328) 47%,
                rgba(179, 116, 116, 0.328) 100%) left top #EBDAD7 no-repeat;

        background-size: 100% 5px;

        transform: translate(0%, -100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu li {
        /* margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-left: 4.5em;
        width: 50%; */
        padding-top: 1rem;
    }

    .visible {
        display: block;
        width: 100%;
        opacity: 1;
        transform: translateX(0%);

        padding: 5.5em;
    }

}




@media screen and (max-width:368px) {
    h1 {
        font-size: 1em;
    }
}