*,
*::after,
*::before {
    /* box-sizing: inherit; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* ************************************************** */
/* ******************************* CUSTOM PROPERTIES */
/* ************************************************** */

:root {
    /* color */
    --color-black: #08060bbb;
    --color-creme: #F0E7E2;
    --color-grayish: #aaa;
    --color-white: #ffffff;
    --color-lightPink:rgb(179, 116, 116);
    --color-basic: rgb(56, 40, 40); 

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --h2-fontfamily: 'Open Sans', sans-serif;
}





/* ************************************************** */
/* ************************** OPMAAK VAN EXTRA HEADER */
/* ************************************************** */

/* container hele extra header*/
.extra-header {
    /* container staat voor */
    position: relative;
    z-index: 3;
    width: 100%;

    background-color: var(--color-creme);
    }

    /* container in extra header*/
    .container-extra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        width: 80%;
        margin: auto;

        /* voor de dropdown hamburger menu */
        /* position: relative; */
        z-index: 3;
    }

    /* ruimte tussen tel en email in de extra header */
    .extra-header ul {
        display: flex;
        gap: 1em;
        padding: 0;
    }

    /* li styling en plaatsing van social icon */
    .extra-header ul li {
        display: flex;
        align-items: center;
        gap: .5em;
        font-family: var(--h2-fontfamily);
    }

    /* a styling opmaak */
    .extra-header li a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;
        font-size: 0.8em;
        text-decoration: none;
        color: var(--color-black);
    }

    /* grote van img */
    .extra-header ul img {
        width: 1.2em;
    }





/* ************************************************** */
/* ************************************ HEADER OPMAAK */
/* ************************************************** */

/* header sticky */
header {
    display: flex;

    position: sticky;
    top: 0em;
    height: 4.5em;
    background-color: var(--color-white);
    
    transition: .32s;
    z-index: 2;
    }

    /* nav container opmaak */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;

        width: 80%;
        margin: auto;
    }

    /* logo opmaak*/
    h1 {
        font-size: 1.2em;
        font-family: var(--h1-fontfamily);
        font-weight: 400;
        color: var(--color-basic);
    }

    /* opmaak navigatie "home, over ons etc" */
    nav ul {
        display: flex;
    }
        /* stijling van "home, over ons etc" */
        nav ul li {
            font-family: var(--h2-fontfamily);
            list-style: none;
            
            padding-left: 1.2em;
            font-size: .88em;
        }
            /* link stijling */
            nav ul li a {
                text-decoration: none;
                color: var(--color-black);
            }




/* ************************************* UNDERLINE EFFECT:HOVER */

/* hover transition */
nav ul li a,
nav ul li a:after {
    transition: all .5s;
}
    /* hover kleur op tekst */
    nav ul li a:hover {
        color: var(--color-lightPink);
    }
    /* stroke plaatsing */
    nav ul li a {
        position: relative;
    }
    /* stroke stijling */
    nav ul li a:after {
        position: absolute;
        top: 1.5em; /* ruimte tussen stroke en tekst */
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;

        content: '.';
        color: transparent;
        background: var(--color-lightPink);
        height: .1em;
    }
    /* stoke length */
    nav ul li a:hover:after {
        width: 100%;
    }




/* ************************************* HAMBURGER MENU OPMAAK */

/* hamburger icon opmaak */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 3.5em;
}

.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

/* display hamburger menu niet zichtbaar */
     button {
        display: none;
       
        position: relative;
        left: 2em;
         
        z-index: 2;
        border: none;
        background-color: transparent;
    }


    


/* ************************************************** */
/* ******************************** OPMAAK HOME IMAGE */
/* ************************************************** */


/* stijling container "introductie */
.container-introductie {
    position: relative;
    height: 25vw;
    overflow: hidden;
    }
    /* img stijling */
    .container-introductie img {
        height: 50vw;
    }
    

/* ************************************* SHAPE OPMAAK */

/* container shape opmaak */
.introductie-wrapper{
    position: absolute;
    top: 0;
    width: 100%; /* grote van de container */
}
/* shape opmaak */
.introductie-wrapper img{
    height: 26vw;
    width: 60%;
    opacity: 70%;
    transform: skew(0deg, 0deg);

    animation: 1.5s ease-out 0s slideInFromLeft;
}

/* slide in voor shape */
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: skew(0deg, 0deg);
        }
    }



/* ************************************* TEKST OPMAAK */
    /* container opmaak tekst*/
    .introductie {
        position: absolute;
        top: 18%;
        z-index: 1;
        width: 100%;
    }

    .introductie-tekst{
        display: grid;
        justify-content: left;

        width: 78.88%;
        margin: auto;
    }

    /* h2 tekst opmaak */
    .introductie-tekst h2 {
        font-size: 6vw;
        font-weight: 320;
        line-height: 1em;
        color: var(--color-basic);
        font-family: var(--h1-fontfamily);
    
        animation: 2.7s ease-out 0s 1 slideInFromLeft-2;
    }
    /* h3 tekst opmaak */
    .introductie-tekst h3 {
        font-size: 1.3vw;
        font-weight: 500;
        line-height: 4em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);

        animation: 2.9s ease-out 0s 1 slideInFromLeft-2;
    }

    /* slide in voor tekst */
    @keyframes slideInFromLeft-2 {
        0% {
            transform: translateX(-100%);
            z-index: 1;
        }

        100% {
            transform: translateX(0);
            z-index: 1;
        }
    }





/* ************************************************** */
/* ************************************ OPMAAK SKILLS */
/* ************************************************** */

.container-skills{
    /* height: cover; */
    overflow: hidden;
    position: relative;
}

/* 2e svg opmaak */
.container-skills svg:nth-of-type(2) {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    /* bottom: 20vw; */
}

/* container opmaak */
.container-skills .skills-wrapper {
    /* display: grid;
    justify-content: center; */

    /* padding: 10.5em; */
/*     
    padding: 5em 11.5em 10em; */

   
    width: 72%;
    margin: auto;

    padding: 2em 0 10em;


    /* max-height: 1200px;
    width: 100%; */
    /* position: relative;
    bottom: 30vw; */
    }

    /* opmaak in skill box */
    .skills{
        display: flex;
        justify-content: space-between;
        text-align: center;
        /* gap: 3em; */
    }

    /* opmaak tekst */
    .skills-wrapper h2{
        font-family: var(--h1-fontfamily);
        font-size: 2em;
        color: var(--color-lightPink);
        max-width: 1500px;
        padding-bottom: 1.3em;
        }


    /* box opmaak van skills */
    .container-skills .inhoud {
        padding: 2.5em;
        border-radius: .5em;
        box-shadow: -10px 20px 20px 10px rgba(100, 55, 55, 0.271);
    }

    /* grote van box*/
    .container-skills div div div div {
        padding: .5em;
    }

    /* grote van icon */
    .inhoud img {
        width: 4.5em;
    }

    /* h3 opmaak */
      .content-container .container-skills h3 {
        font-size: 1.1em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);
    }

    /* h3 afmetingen */
    .container-skills div div div div h3 {
        padding: .3em;
        margin: 0;
    }


    /* h4 opmaak */
    .content-container .container-skills p {
        font-weight: 350;
        padding: 0.5em 1em 1em;
        font-family: var(--h1-fontfamily);
    }





/* ************************************************** */
/* ******************************* OPMAAK "OVER ONS"" */
/* ************************************************** */

/* container grote */
.over-ons {
    width: 72%;
    margin: auto;
    padding: 9em 0 9em;
 }

    /* opmaak container */
    .container-over {
        display: flex;
        justify-content: center;
        background-color: var(--color-creme);
    }

    /* opmaak h2 */
    .container-over .over-ons h2 {
        font-size: 2em;
        font-family: var(--h1-fontfamily);
        color: var(--color-basic);
    }

    /* opmaak h5 */
    .container-over .over-ons h5 {
        padding-top: .5em;
        color:  var(--color-lightPink);
        font-size: 1.1em;
        font-family: var(--h1-fontfamily);
    }

    /* opmaak p */
    .over-ons p {
        font-family: var(--h1-fontfamily);
        padding-top: 1em;

        columns: 2;
        column-gap: 3.5em;
        text-align: justify;
    }





/* ************************************************** */
/* ********************************** OPMAAK "SCROLL" */
/* ************************************************** */

.parallax {
    background-image: url(../images/spa2.jpg);
    min-height: 30em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* ************************************************** */
/* ******************************* OPMAAK " DIENSTEN" */
/* ************************************************** */

.container-diensten {
    /* padding: 10em 0em 10em; */
    background-color: var(--color-creme);
}

.dienst-wrapper{
    display: flex;
    justify-content: center;

    width: 72%;
    margin: auto;
    padding: 9em 0 9em;

}

    /* max width */
    .diensten {
        max-width: 1100px;
    }

    /* stijling h2 */
    .container-diensten .diensten h2 {
        font-size: 2.5em;
        font-family: var(--h1-fontfamily);
        color: var(--color-basic);
    }
    /* stijling h5 */
    .container-diensten .diensten h5 {
        padding-top: .5em;
        color: var(--color-lightPink);
        font-size: 1.3em;
        font-family: var(--h1-fontfamily);
    }
    /* stijling p */
    .container-diensten .diensten article p {
        font-family: var(--h1-fontfamily);
        padding-top: 1em;
        text-align: justify;
    }

    /* tekst container opmaak */
    .container-diensten article {
        display: flex;
        padding-bottom: 2em;
        gap: 3.5em;
    }

    /* img opmaak */
    .container-diensten article img {
        width: 50%;
        height: 100%;

    }


    /* box waar de diensten in zit */
    .container-diensten .diensten-box {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    /* box opmaak en ruimte */
    .container-diensten .diensten-container {
        padding: 4em;
        border-radius: .5em;
        text-align: center;
        background-color: var(--color-white);

        box-shadow: -10px 20px 20px 10px rgba(100, 55, 55, 0.271);
    }


    /* h3 opmaak */
    .container-diensten .diensten-container h3 {
        font-size: 1.3em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);
        transition: 1s ease-in-out;
    }

    /* animatie */
    .container-diensten .diensten-container:hover h3 {
        transition: 1s ease-in-out;
        color: #dfbeb3;
    }





/* ************************************************** */
/* ******************************* OPMAAK "SIDE TEXT" */
/* ************************************************** */

/* container opmaak */
.container-sideText {
    width: 100%;
 }
    /* padding in container*/
   .side-wrapper .wrapper {
        display: flex;
        justify-content: center;
        padding: 0em 12em 0em;
    }

    .sideText{
        display: block;
        columns: 2;
        column-gap: 3.5em;
        column-rule-style: solid;
        column-rule-width: 4px;
        column-rule-color: rgb(185, 127, 136);

        max-width: 1100px;
    }
   
    /* h5 opmaak */
    .container-sideText .sideText h5 {
        padding-bottom: 0.1em;
        font-size: 3em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);
    }

    /* p opmaak */
    .sideText p {
        font-family: var(--h1-fontfamily);
        font-size: 15px;
        text-align: justify;
    }


































/* ************************************* MEDIA */

@media screen and (max-width:1350px) {

     /* skills gaan onder elkaar */
     .skills{
        display: block;
        text-align: left;
        gap: 1em;
    }

    /* ruimte tussen skills container */
    .skills .inhoud {
        padding: 5em 2em 5em ;
        margin-bottom: 3.5em;

        /* image in container */
        background-image: url(../images/spa2.jpg);
        background-repeat: no-repeat;
        background-position: 22em;
        /* background-size: cover;  */
    }

    /* img icon position */
    .inhoud img{
        position: relative;
        left: 6em;
        width: 5.5em;
    }

    /* text plaatsing in skills container */
    .inhoud h3{
        position: relative;
        left: 3.5em;
    }

    /* width van container skills (groter geworden) */
    .container-skills .skills-wrapper {
        justify-content: unset;
    }

    /* p element extra padding weg */
    .content-container .container-skills p {
        padding: 0;
    }


}






@media screen and (max-width:714px) {
        /* tekst hidden, alleen icon zichtbaar */
        .extra-header ul:nth-of-type(1) li a span {
            display: none;
        }

        /* streep tussen icon bij extra header */
        .extra-header ul:nth-of-type(1) li:nth-of-type(2)  {
            position: relative;
            right: 1vw; 
            /* border-left: 1px solid var(--color-lightPink); */
            border-left: 1px solid rgba(179, 116, 116, 0.328);
    
            height: 15px;  
        }

         /* ruimte tussen streep en icon */
         .extra-header ul:nth-of-type(1)  img {
            margin-left: .5em;
         } 

         .extra-header ul {
            gap: .6em;
        }

        /* plaatsing van logo bij hamburger menu */
        nav{
            flex-direction: row-reverse;
        }
       
       
        /* hamburger menu tekst plaatsing */
        nav ul li {
            /* padding-left: 52px; */
        }



        /* extra header ruimte kleiner */
         .container-extra {
            gap: 7.5em;
        } 

        /* icon zichtbaar "ham"*/
        button{
            display: unset; 
        }
        
        /* hamburger opmaak */
        .menu{
            z-index: 1;
            opacity: 0;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            height: 30.5vmax;
            
            background:
            linear-gradient( to left, 
            rgba(179, 116, 116, 0.328) 0%,
            rgba(179, 116, 116, 0.328) 12%,
            rgba(179, 116, 116, 0.328) 47%,
            rgba(179, 116, 116, 0.328) 100%
            )
            left 
            top
            #F0E7E2
            no-repeat; 

            background-size:100% 5px ;

            transform: translate(0%, -100%);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

        .menu li {
            position: relative;
            top: 4em;
            padding-bottom: 2em;
            /* font-size: 2vmax; */
        }
    
        .visible{
            display: block;
            opacity: 1;
            transform: translateX(0%);
        }

        /* tekst onder h2 niet zichtbaar */
        .introductie-tekst h3 {
           opacity: 0;
        }
        .introductie-tekst h2 {
            font-size: 7vw;
        }
        
        /* ruimte tussen skills container */
        .skills .inhoud {
            /* image in container */
            background-image:unset;
            padding: 2em 2em 2em ;
        }

        /* img icon position */
        .inhoud img{
            position: unset;
        }

        .skills .inhoud p{
            text-align: center;
        }

        .skills .inhoud h3{
            text-align: center;
            left: 0; 
        }

         /* skills gaan onder elkaar */
        .skills{
            text-align: center;
       
        }

        .over-ons p {
            columns: 1;
            font-size: .8em;
        }




        

        /* .container-diensten .diensten-container {
            padding: 3em;
        } */
        .container-diensten .diensten article p {
            font-size: .8em;
        }
    
    
        /* .side-wrapper .wrapper {
            padding: 0;
        }
        .sideText p {
            padding-top: 1em;
            font-size: .8em;
        }
        .container-sideText .sideText h5 {
            font-size: 2em;
        }
        .sideText {
            padding: 0em 3.5em 1em;
        }
    
     */

}


@media screen and (max-width:500px) {

    .skills-wrapper h2{
        font-size: 5vw;
    }

    /* img icon position */
    .inhoud img{
        width: 4em;
    }
    .content-container .container-skills h3 {
        font-size: .98em;
    }

    .content-container .container-skills p {
        font-size: .8em;
    }


    .container-introductie {
        height: 40vw;
    }

    .introductie-wrapper img {
        height: 41vw;
      }

      .introductie {
        top: 30%;
      }




}

@media screen and (max-width:368px) {
    h1 {
        font-size: 1em;
    }

    /* breedte van container skills */
    .container-skills .skills-wrapper {
        padding: 1.5em;
    }

    .over-wrapper{
        padding: 0 1.5em 0;
    }




}





