*,
*::after,
*::before {
    /* box-sizing: inherit; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* ************************************************** */
/* ******************************* CUSTOM PROPERTIES */
/* ************************************************** */

:root {
    /* color */
    --color-black: #08060bbb;
    --color-creme: #F0E7E2;
    --color-grayish: #aaa;
    --color-white: #ffffff;
    --color-lightPink:rgb(179, 116, 116);
    --color-basic: rgb(56, 40, 40); 

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --h2-fontfamily: 'Open Sans', sans-serif;
}





/* ************************************************** */
/* ************************** OPMAAK VAN EXTRA HEADER */
/* ************************************************** */

/* container hele extra header*/
.extra-header {
    /* container staat voor */
    position: relative;
    z-index: 3;

    background-color: var(--color-creme);
    }

    /* container in extra header*/
    .container-extra {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10em;
        padding: 1vw;
        width: 100%;

        /* voor de dropdown hamburger menu */
        position: relative;
        z-index: 3;
    }

    /* ruimte tussen tel en email in de extra header */
    .extra-header ul {
        display: flex;
        gap: 1em;
        padding: 0;
    }

    /* li styling en plaatsing */
    .extra-header ul li {
        display: flex;
        align-items: center;
        gap: .5em;
        font-family: var(--h2-fontfamily);
    }

    /* a styling opmaak */
    .extra-header li a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;
        font-size: 0.8em;
        text-decoration: none;
        color: var(--color-black);
    }

    /* grote van img */
    .extra-header ul img {
        width: 1.2em;
    }





/* ************************************************** */
/* ************************************ HEADER OPMAAK */
/* ************************************************** */

/* header sticky */
header {
    display: flex;

    position: sticky;
    top: 0;
    height: 4.5em;
    width: 100%;
    background-color: var(--color-white);
    
    transition: .32s;
    z-index: 2;
    }

    /* nav container opmaak */
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10em;
        padding: 1vw;
        width: 100%;
    }

    /* logo opmaak*/
    h1 {
        font-size: 1.2em;
        font-family: var(--h1-fontfamily);
        font-weight: 400;
        color: var(--color-basic);
    }

    /* opmaak navigatie "home, over ons etc" */
    nav ul {
        display: flex;
    }
        /* stijling van "home, over ons etc" */
        nav ul li {
            font-family: var(--h2-fontfamily);
            list-style: none;
            padding-left: 1.2em;
            font-size: .88em;
        }
            /* link stijling */
            nav ul li a {
                text-decoration: none;
                color: var(--color-black);
            }




/* ************************************* UNDERLINE EFFECT:HOVER */

/* hover transition */
nav ul li a,
nav ul li a:after {
    transition: all .5s;
}
    /* hover kleur op tekst */
    nav ul li a:hover {
        color: var(--color-lightPink);
    }
    /* stroke plaatsing */
    nav ul li a {
        position: relative;
    }
    /* stroke stijling */
    nav ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;

        content: '.';
        color: transparent;
        background: var(--color-lightPink);
        height: .1em;
    }
    /* stoke length */
    nav ul li a:hover:after {
        width: 100%;
    }




/* ************************************* HAMBURGER MENU OPMAAK */

/* hamburger icon opmaak */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 3.5em;
}

.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

/* display hamburger menu niet zichtbaar */
/* .icon  svg{
    display: none;
    position: absolute;
    top: -.3em;
    right: -5em;
    z-index: 2;
    } */
/* 
    button{
        display: none;
        position: absolute;
        right: 3em;
        z-index: 1;
        width: 3em;
        height: 3em;
        border: none;
        background-color: transparent;
        }
     */


     button {
        display: none;
        z-index: 2;
        position: relative;
        left: 2em;
        border: none;
        background-color: transparent;
    }

     /* button {
        display: none;

        z-index: 2;
        width: 3em;
        height: 3em;
        border: none;
        background-color: transparent;
    } */

    


/* ************************************************** */
/* ******************************** OPMAAK HOME IMAGE */
/* ************************************************** */


/* stijling container "introductie */
.container-introductie {
    position: relative;
    height: 25vw;
    overflow: hidden;
    /* background: rebeccapurple; */
    }
    /* img stijling */
    .container-introductie img {
        height: 50vw;
        /* width: 100%; */
    }
    

/* ************************************* SHAPE OPMAAK */

/* container shape opmaak */
.introductie-wrapper{
    position: absolute;
    top: 0;
    width: 100%; /* grote van de container */
}
/* shape opmaak */
.introductie-wrapper img{
    height: 25vw;
    width: 60%;
    opacity: 70%;
    transform: skew(0deg, 0deg);

    animation: 1.5s ease-out 0s slideInFromLeft;
}

/* slide in voor shape */
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: skew(0deg, 0deg);
        }
    }



/* ************************************* TEKST OPMAAK */
    /* container opmaak tekst*/
    .introductie {
        position: absolute;
        top: 18%;
        left: 13%;
        z-index: 1;
    }

    /* h2 tekst opmaak */
    .introductie-tekst h2 {
        font-size: 6vw;
        font-weight: 320;
        line-height: 1em;
        color: var(--color-basic);
        font-family: var(--h1-fontfamily);
    
        animation: 2.7s ease-out 0s 1 slideInFromLeft-2;
    }
    /* h3 tekst opmaak */
    .introductie-tekst h3 {
        font-size: 1.3vw;
        font-weight: 500;
        line-height: 4em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);

        animation: 2.9s ease-out 0s 1 slideInFromLeft-2;
    }

    /* slide in voor tekst */
    @keyframes slideInFromLeft-2 {
        0% {
            transform: translateX(-100%);
            z-index: 1;
        }

        100% {
            transform: translateX(0);
            z-index: 1;
        }
    }


/* ************************************* MEDIA */

@media screen and (min-width: 178px) {
    /* h2 tekst meer naar links */
    .introductie {
        left: 17%;
    }
    /* shape meer uitgerekt */
    .introductie-wrapper img {
        width: 65%;
    }



/* 
    .container-skills .sub-container {
        top: -29em;
        }
        .columns-container img {
            width: 5em;
        }

    .content-container .container-skills p {
        padding: .5em 1.5em .5em;
    }

    .container-skills div div div div {
        padding: 5em 0 5em;
    } */

}






    @media screen and (max-width:750px) {
        /* extra header ruimte kleiner */
        .container-extra {
           gap: 0;
        } 
        /* header ruimte extra */
        nav {
            gap: 0%;
        } 
    }




    @media screen and (max-width:550px) {
        /* tekst hidden, alleen icon zichtbaar */
        .extra-header ul:nth-of-type(1) li a span {
            display: none;
        }

        /* streep tussen icon bij extra header */
        .extra-header ul:nth-of-type(1) li:nth-of-type(2)  {
            position: relative;
            right: 1vw; 
            border-left: 1px solid var(--color-lightPink);
    
            height: 15px;  
        }

         /* ruimte tussen streep en icon */
         .extra-header ul:nth-of-type(1)  img {
            margin-left: .5em;
         } 

         .extra-header ul {
            gap: .6em;
        }

        /* plaatsing van logo bij hamburger menu */
        nav{
            width: 100%;
            flex-direction: row-reverse;
        }
        nav ul li {
            padding-left: 5.2em;
        }

        /* extra header ruimte kleiner */
         .container-extra {
            gap: 7.5em;
        } 

        /* icon zichtbaar "ham"*/
        button{
            display: unset; 
        }
        
        /* opmaak van hamburger menu */
        .menu{
            z-index: 1;
            opacity: 0;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            height: 30.5vmax;
            
            background:
            linear-gradient( to left, 
            rgba(179, 116, 116, 0.328) 0%,
            rgba(179, 116, 116, 0.328) 12%,
            rgba(179, 116, 116, 0.328) 47%,
            rgba(179, 116, 116, 0.328) 100%
            )
            left 
            top
            #F0E7E2
            no-repeat; 

            background-size:100% 5px ;

            transform: translate(0%, -100%);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

        .menu li {
            position: relative;
            top: 3em;
            padding-bottom: 1em;
            font-size: 2vmax;
        }
    
        .visible{
            display: block;
            opacity: 1;
            transform: translateX(0%);
        }

        /* tekst onder h2 niet zichtbaar */
        .introductie-tekst h3 {
           opacity: 0;
        }
        .introductie-tekst h2 {
            font-size: 7vw;
        }
        
    }


